{% extends 'blog/base.html' %}

{% block content %}

			
				{% for post in postes %}
					<div class="post">
						
					<div class="row">
						<div class="col-xs-12 col-sm-4 col-md-4" style="margin-top: 40px;">
							<img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQFtLkZ3K2onvfE7xhK37SSaEMesyWlVJTN2kp8fJ6ITV6MpMnwdyGcuDY" class="img-responsive" alt="280x280" />
						</div>
						<div class="col-xs-12 col-sm-8 col-md-8">
							<div class="date">
								<p>published: {{ post.published_date }}</p>
							</div>
							
							<h1><a href="{% url 'blog.views.detail' pk=post.pk %}">{{ post.titulo }}</a></h1>
							<p> {{ post.testo|linebreaksbr }}
							<a href="{% url 'detail' pk=post.pk %}">Comentários: {{ post.approved_comments.count }}</a>
						</div>
					</div>
					</div>
					
				{% endfor %}				
			
			
	{% endblock content %}
					