h1 a {
	textdecoration: none;
}

.date {
	
	float: right;
}
.post-form textarea, .post-form  input {
	width: 100%;
}
.comment {
	margin: 20px 20px 20px 20px;
}

ul li p {
	color: #ffffff;
}
#button {
	background-color: #ffffff;
}